#bto_product_data.wc-metaboxes-wrapper .wc-metabox.closed, #bto_scenario_data.wc-metaboxes-wrapper .wc-metabox.closed {
	border-radius: 0;
}
.bto_group_data .checkbox, .bto_scenario_fe_selector .checkbox {
	margin-top: 3px !important;
}

.bto_group_data .subsubsub, .bto_scenario_data .subsubsub {
	margin-bottom: 30px;
}

.bto_group_data .options_group_hidden {
	display: none;
}

table.wp-list-table span.product-type.bto {
	background-position-x: 0px;
}

.bto_group_data label, .bto_scenario_data label {
	width: 185px;
	margin: 0 0 0 -195px;
}

.bto_group_data p.description, .bto_scenario_data p.description {
	clear: both;
	margin-left: 0px;
}

.bto_scenario_data .bto_scenario_selector_inner {
	margin-top: 10px;
}

.bto_scenario_data .bto_scenario_search {
	font-size: 12px;
	display: inline-block;
	margin: 2px 8px 0px;
}

.bto_scenario_data .bto_scenario_select {
	font-size: 12px;
	display: inline-block;
	margin: 4px 8px 0px;
}

.bto_scenario_data .bto_scenario_search:before {
	font-family: WooCommerce;
	content: '\e024';
}

.bto_scenario_data .bto_scenario_select:before {
	font-family: WooCommerce;
	content: '\e00f';
}

.bto_group_data .options_group {
	border-top: none;
	border-bottom: none;
}

#bto_product_data .bundle_group {
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#bto_product_data .bundle_group .bto_layout_label {
	margin: 0 20px 10px 0;
	width: 120px;
	text-align: center;
	border: 3px solid #f2f2f2;
}

#bto_product_data .bundle_group .bto_layout_label img {
	max-width: 100%;
	display: block;
}

#bto_product_data .bundle_group .bto_layout_label span {
	max-width: 90%;
	display: block;
	margin: 7px auto 10px;
}

#bto_product_data .bundle_group .bto_layout_label input {
	width: auto;
}

#bto_product_data .bto_layouts {
	padding-left: 162px;
	padding-right: 20px;
}

#bto_product_data .toolbar.borderless {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
}

#bto_product_data .bundle_group_label {
	width: 140px;
}

#bto_product_data .bto_clearfix:after {
	clear: both;
	content: '';
	display: table;
}

.bto_group_data > div, .bto_group_data > div > div, .bto_scenario_data > div, .bto_scenario_data > div > div  {
	display: inline-block;
	width: 100%;
}

.bto_group_data div.form-field, .bto_scenario_data div.form-field {
	margin: 0;
	padding: 5px 0 5px 200px !important;
	clear: both;
}

.bto_scenario_selector div.form-field {
	margin-bottom: 10px;
}

.bto_group_data .chosen-search:after, .bto_group_data div.form-field:after, .bto_scenario_data div.form-field:after, .bto_group_data p.description, .bto_scenario_data .bto_scenario_exclude_wrapper:after {
	clear: both;
	content: '.';
	visibility: hidden;
	display: block;
	height: 0;
}

.bto_group_data .default_selector .chosen-container {
	width: 75% !important;
}

.bto_group_data .default_selector .prompt {
	width: 75% !important;
	display: inline-block;
}

.bto_group_data, .bto_scenario_data {
	line-height: 26px;
	padding: 0px 15px 15px;
	background: #fff;
}

.bto_multiselect .chosen-container-multi {
	width:75% !important;
}

.bto_multiselect {
	margin-bottom: 5px;
}

.bto_custom_selector .chosen-container-multi {
	width: 95% !important;
}

.bto_group_data textarea, .bto_scenario_data textarea {
	width: 75%;
	margin-bottom: 5px;
	height: 9.5em;
}

.bto_group_data input.component_text_input, .bto_scenario_data input.component_text_input {
	width: 75%;
}

.bto_group_data .group_quantity_min input, .bto_group_data .group_quantity_max input, .bto_group_data .group_discount input {
	width: 60px;
}

.bto_group_data span.group_id {
	font-size: 0.8em;
	color: #999;
	float: right;
	line-height: 1em;
}

.bto_panel .help_tip, .composite_stock_msg .help_tip {
	width: 16px;
	height: 16px;
	margin-left: 5px;
}

.bto_panel .table_help_tip {
	margin-left: 5px;
}

.bto_panel .bto_tips {
	margin-left: 8px;
}

button.add_bto_group, button.add_bto_scenario {
	float:right;
}

#bto-scenarios-info {
	margin: 15px 13px 0;
}

#bto-scenarios-info .question {
	display: block;
}

#bto-scenarios-message {
	margin-bottom: 13px;
}
